{% extends "base.html" %} <!-- this HTML page uses the base.html page as a base tempalte for this page, there are no BODY or HEAD tags on this page. -->

{% block title %}User Registration Page{% endblock %}


{% block content %}
    <div>
        <h2 align="center">User Registration</h2>
        <form action="" method="post">
            <label>Name:</label><br/>
            <input type="text" name="name" id="name"  placeholder="Enter Name" required><br><br>
            <label>Email Address:</label><br/>
            <input type="email" name="email" id="username" placeholder="Enter Email Address" required><br><br>
            <label>Password</label><br/>
            <input type="password" name="password1"  id="password1" placeholder="Enter Password" required><br/><br/>
            <label>Confirm Password</label><br/>
            <input type="password" name="password2"  id="password2" placeholder="Confirm Password" required><br/><br/>
            <button type="submit" value="Create User">Submit</button>
        </form>
    </div>
{% endblock %}
