{% extends "base.html" %}<!-- this HTML page uses the base.html file as a base template for the structure for this page, there are no BODY or HEAD tags on this page. -->

{% block title %}Update{% endblock %}

{% block content %}
  <div class="container" id="data">
    <div class="row">
      <div class="col-sm-6">        
        <div>
        <form action='' method='POST'>   
            <div class="form-group">
                <label for "fname">First Name:</label>
                <input type="text" class="form-control" name="fname" id="fname" required />
            </div>
      
            <div class="form-group">
                <label for "lname">Last Name:</label>
                <input type="text" class="form-control" name="lname" id="lname" required />
            </div>
      
            <div class="form-group">
                <label for "dob">Date of Birth:</label>
                <input type="date" name="dob" id="dob"required />
            </div>
      
            <div class="form-group">
                <label for "country">Country:</label>
                <input type="country" name="country" id="country" required />
            </div>
      
            <div class="form-group">
                <label for "mobile">Mobile:</label>
                <input type="text" name="mobile" id="mobile" required />
            </div>
      
            <div class="form-group">
                <label for "email">Email:</label>
                <input type="email" name="email" id="email" required />
            </div>
      
            <div class="form-group">
                <label for "course">Course:</label>
                <input type="text" name="course" id="course" required />
            </div>
      
            <div class="form-group">
                <input type="submit" id="submit" class="btn btn-info" value="Update Student" />
            </div>
        <form>
        </div>          
      </div>
    </div>
  </div>
<script>

/*the function displays the student data on the Update Forms to allow the user to make necessary changes.
        (I realise this functionality shouldn't be here, but I coulnd't get it to work from the main JavaScript file.)*/

    fetch("static/students.json", {cache: "no-store"}) // this takes data from the JSON file, the cache statmeent ensures that data is not cached and therefore current records are always returned.
        .then(results => results.json())
        .then(data => {  
        document.querySelector("#fname").value = data.FirstName
        document.querySelector("#lname").value = data.LastName
        document.querySelector("#dob").value = data.DOB
        document.querySelector("#country").value = data.Country
        document.querySelector("#mobile").value = data.Mobile
        document.querySelector("#email").value = data.Email
        document.querySelector("#course").value = data.Course})

  </script>
{% endblock %}